---
layout: portfolio
section: portfolio
---

<div class='listing col10 pad4h margin1'>
  {% for item in site.categories.portfolio limit:1000 %}

    <div class="portfolio-item col12">
        <a href="{{ item.projecturl }}">
            <img class="col4" src="media/portfolio/{{ item.image }}" alt="Screenshot of {{ item.title }}" />
        </a>
        <div class="col8">
            <a href="{{ item.projecturl }}">
                <h3>{{ item.title }}</h3>
            </a>
            <p>{{ item.content }}</p>
        </div>
    </div>
  {% endfor %}
</div>

{% include rss-link.html %}
