---
title: "Visual journalist, developer, designer"
section: portfolio
---
<!DOCTYPE html>
<html>
<head>
    <title>Katie Park | Visual journalist, developer, designer</title>
  <meta charset='UTF-8'/>
  <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
  <link rel='alternate' type='application/rss+xml' title='RSS' href='SITEURLGOESHERE/blog.rss' />
  <link rel='shortcut icon' href='img/favicon.ico' type='image/x-icon' />
  <link href='css/site.css' rel='stylesheet' />
</head>
<body>
  <div class='container'>
    <div class='col12 clearfix'>
      <div class='header col6 margin3 pad8 centered'>
        <div class='clearfix col12'>
            <h1>Katie Park</h1>
            <p>I'm a visual journalist, developer and designer based in Washington, D.C. Currently, I'm the deputy graphics editor on the <a href="http://blog.apps.npr.org/">NPR Visuals team</a>.</p>
            <p>Here's some of my work.</p>
        </div>
      </div>
    </div>
    {{content}}
  </div>
  <script src='js/site.js'></script>
</body>
